
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <title>Minimax HTML5 Free Template</title>
    <!--

    Template 2080 Minimax

    http://www.tooplate.com/view/2080-minimax

    -->

    

    <!-- stylesheet css -->
    <link rel="stylesheet" href=@Url.Content("/Content/BootstrapTheme/css/bootstrap.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/BootstrapTheme/css/font-awesome.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/BootstrapTheme/css/nivo-lightbox.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/BootstrapTheme/css/nivo_themes/default/default.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/BootstrapTheme/css/style.css")>
    <!-- google web font css -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Toastr")
    

    <title>_MyLayout</title>
</head>

<body>
    <!-- navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                    <span class="icon icon-bar"></span>
                </button>
                <a href="#home" class="navbar-brand smoothScroll">Minimax</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Home" class="smoothScroll">HOME</a></li>
                    <li><a href="/Birthday" class="smoothScroll">Add Birthdays</a></li>
                    
                </ul>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />

    <div class="container body-content">
    @RenderBody()
    </div>

    <!-- divider section -->
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10">
                <hr>
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
    </div>

    <!-- footer section -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2>Our Office</h2>
                    <p>4576 Spanish Oaks Drive</p>
                    <p>Email: <span>test@birthdaytrackermvc</span></p>
                    <p>Phone: <span>555-555-5555</span></p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <h2>Social Us</h2>
                    <ul class="social-icons">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                        <li><a href="#" class="fa fa-dribbble"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- divider section -->
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10">
                <hr>
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
    </div>

    <!-- copyright section -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p>
                        Copyright &copy; 2018 Birthday Tracker MVC
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- scrolltop section -->
    <a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>


    <!-- javascript js -->
    <script src=@Url.Content("/Content/BootstrapTheme/js/jquery.js")></script>
    <script src=@Url.Content("/Content/BootstrapTheme/js/bootstrap.min.js")></script>
    <script src=@Url.Content("/Content/BootstrapTheme/js/nivo-lightbox.min.js")></script>
    <script src=@Url.Content("/Content/BootstrapTheme/js/smoothscroll.js")></script>
    <script src=@Url.Content("/Content/BootstrapTheme/js/jquery.nav.js")></script>
    <script src=@Url.Content("/Content/BootstrapTheme/js/isotope.js")></script>
    <script src=@Url.Content("/Content/BootstrapTheme/js/imagesloaded.min.js")></script>
    <script src=@Url.Content("/Content/BootstrapTheme/js/custom.js")></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/toastr")
    @RenderSection("scripts", required: false)

</body>
</html>
